<script setup>
  import { ref } from 'vue'

  let todolist = ref([])
  let todo = ref(null)
  
// Maglalagay ng task
  const addNgTask = () =>{
    if (validate(todo.value)){
      let id = todolist.value.length;

    todolist.value.push({
      id: ++id,
      todo: todo.value,
      is_done: false
    })
    todo.value = null
    }
    
  }
  

  // magedit ng task
  let selectedtask = ref(null) 
  const selecttask = (row) => {
    selectedtask.value = row;
    todo.value = row.todo;

  }

  const updatetask = () => {
    if (validate(todo.value)){
    let index = todolist.value.findIndex((t) => t.id === selectedtask.value.id);
    index !== -1 && (todolist.value[index].todo = todo.value);

    todo.value = selecttask.value =  null;
    }
    
  }
  const validate = ( new_todo ) => {
    let index = todolist.value.findIndex((t) => t.todo === new_todo);
    if (index !== -1) {
      alert('Nakalagay na iyong gawain!!!')
      return false;
      } else {
        return true;
    }
  }
  const taposna = (row) => {
    if (confirm(`Are you sure na tapos na to ${row.todo}? `)){
      let index = todolist.value.findIndex((t) => t.id === row.id);
      index !== -1 && (todolist.value[index].is_done = true);

    }
  }

const tangalin = (row) => {
  if (confirm(`Sigurado ka na idedelete itong ${row.todo} ?`)){
    let index = todolist.value.findIndex((t) => t.id === row.id);
    index !== -1 && (todolist.value.splice(index));


  }
}
</script>

<template>
  <div class="d-flex justify-content container">
    <div class="w-75">
      <form @submit.prevent="!selectedtask ? addNgTask() : updatetask()">
        <div class="mb-3 mt-5 ">
          <label for="todo">What is your TODO?</label>
          <div class="d-flex">
            <input v-model="todo" type="text" class="form-control" id="todo" placeholder="Ano ang iyong nakatakdang gagawin?">
            <button v-if="!selectedtask" class="btn btn-primary ms-3"><i class="bi bi-plus-circle-fill"></i></button>
            <button v-else class="btn btn-primary ms-3"><i class="bi bi-pencil-square"></i></button>
          </div>
        </div>
      </form>
      <div @click="selecttask(row)" v-for = "row in todolist" :key="row.id" class="toast show  mt-2 w-100">
        <div class="toast-header">
          <strong class="me-auto">{{row.todo}}</strong>
          <button :class="`btn btn-${row.is_done ? 'success' : 'outline-secondary'} btn-sm`" @click.stop="taposna(row)"><i class="bi bi-check-lg"></i></button>
          <button class="btn btn-danger btn-sm ms-1" @click="tangalin(row)"><i class="bi bi-trash-fill"></i></button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
